*{
    font-family: Optima!important; 
    background-color: #f7f7f7;
}

p{
    font-size: 20px!important;
    line-height: 30px;
    font-weight: normal;
}
.shiny-download-link {
  width:230px!important;
}

.shiny-plot-output {
  height:800px!important;
}

.jslider {
  width:230px!important;
}

.span4 {
  width:22%!important;
    font-size: 20px!important;
}
.span8 {
  width:75%!important;
    font-size: 20px!important;
    margin-left: 0px!important;
}
label {
    font-size: 20px!important;
}
select {
    font-size: 20px!important;
}
span {
    font-size: 20px!important;
}
li{
	background-color: #f5f5f5!important;
	border:1px solid #e3e3e3!important;
}
.nav{
	margin-bottom: 0px!important;
}
h1{
	font-size: 20px!important;
	font-weight: normal;
    line-height: 25px;
    padding-left: 20px;
}
a{
    background-color: transparent;
}
center{
    background-color: transparent;
}
