*{
    font-family: Optima!important; 
}

.shiny-download-link {
  width:230px!important;
}

.shiny-plot-output {
  height:800px!important;
  width:800px!important;
}

.jslider {
  width:230px!important;
}

.well {
  width:230px!important;
}
.span4 {
  width:250px!important;
}
